body{
  background-color: black;
  color: white;
}
.container{
  text-align: center;
  justify-content: center;
}
.box{
  border: 1px solid white;
  width: 114px;
  height: 114px;
  font-size: 90px;
  line-height: 100px;
}
.box:hover{
  cursor: pointer;
}
.board{
  display: inline-flex;
  flex-wrap: wrap;
  width: 350px;
  margin: auto
}
button{
  background-color: white;
  outline: none;
  border-radius: 5px;
}